/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 / 160

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/* laptop */
/* general */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    color: #343a40;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

h2 {
    font-size: 18px;
    margin: 8px 0;
}

p {
    line-height: 1.5;
    margin: 4px 0;
    color: #495057;
}

i, span {
    color: #000;
    font-size: 24px;
    display: inline-block;
}

main {
    padding: 16px;
    gap: 16px;
    background-color: #0000ff;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}

section {
    background-color: #fefefe;
    padding: 16px;
}

.section-title {
    padding: 12px 0;
    border-bottom: 1.5px solid #0b7285;
    color: #1d26ff;
    font-size: 24px;
}

.wrap {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    gap: 8px;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    margin: 10px 0;
}

/* goals & timeline */
.border-bottom {
    border-bottom: 1px solid #99e9f2;
}

/* timeline & primary */
.Timeline {
    grid-column: 3;
    grid-row: 1 / span 2;
}

.icon-timeline span, .icon-primary i {
    display: inline-flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    background-color: #0b7285;
    border-radius: 50%;
    color: #f8f9fa;
}

.icon-timeline span {
    background-color: #9e88ff;
    border: 1px solid #333;
}

.icon-primary i {
    background-color: #000;
    width: 40px;
    height: 40px;
}

/* scope */
.wrap-scopes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}

.mx-3 {
    margin: 12px 0;
}

@media (max-width: 1024px) {
    main {
        grid-template-columns: 1fr;
    }
    .Scopes {
        grid-column: 1;
        grid-row: 2 / span 1;
    }
    .Team {
        grid-column: 1;
        grid-row: 3 / span 1;
    }
    .Primary {
        grid-column: 1;
        grid-row: 4 / span 1;
    }
    .Timeline {
        grid-column: 1;
        grid-row: 5 / span 1;
    }
    .wrap {
        grid-template-columns: 1fr;
    }
    .icon {
        margin-top: 24px;
        justify-content: start;
    }
    .wrap-scopes {
        grid-template-columns: 1fr;
    }
    .grid-mobile {
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
    }
    .wrap .icon {
        justify-self: center;
    }
    .wrap .icon.posi-left {
        justify-self: start;
        padding-left: 24px;
    }
    .content {
        margin-top: 0;
        padding: 0 24px;
    }
    .border-bottom {
        border-bottom: none;
    }
}