/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 / 160

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/ 

@media (max-width: 1100px) {
    .right-side {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 1024px) {
    .w300 {
        width: 200px;
    }
    #job-info .containerr {
        gap: 5px;
    }
}

@media (max-width: 1024px) {
    .nav div.avatar {
        display: none;
    }
}
 
@media (max-width: 1024px) {
    .w300 {
        width: 50px;
    }
    #about .containerr > div {
        padding: 64px 24px 48px 24px;
    }
    #job-info .containerr {
        gap: 20px;
        grid-template-columns: 250px 250px;
    }
    #certificate .containerr, #project .containerr {
        padding: 0;
    }
    #project .containerr {
        margin: 0 15px;
    }
    .cardd {
        gap: 10px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        width: 250px;
        height: 300px;
        box-sizing: content-box;
    }
    .cardd img {
        height: 180px;
        width: 235px;
    }
    .wrap {
        gap: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    #certificate .section-title {
        padding-left: 15px;
    }
    .section-title {
        margin: 20px 0;
    }
    .certificate_wrap {
        width: fit-content;
        margin: 0 auto;
        padding: 20px 0;
    }
    .cardd_project h3 {
        margin: 5px 0;
        font-size: 16px;
        padding-left: 10px;
    }
    .p12 {
        padding: 10px 0;
    }
    .role span {
        margin: 0 5px;
    }
    .year {
        height: fit-content;
    }
    .gridd {
        gap: 5px;
        font-size: 14px;
    }
}

